{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body mt-5 mb-5">
                        <h1>Добавление книги</h1>

                        {{ include('book/_form.html.twig') }}

                        <a class="btn btn-secondary mt-2" href="{{ path('app_book_index') }}">Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
